@model CampplaceTest1.Models.Camp

@{
    ViewData["Title"] = "Create";
}

<h2>Dodaj nowe miejsce obozowe:</h2>


<hr />
<form asp-controller="Camps" asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Informacje ogólne</h3></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" data-toggle="tooltip" data-placement="top" title="Tutaj wprowadź nazwę miejsca obozowego" />
                       
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Voivodeship" class="control-label"></label>
                        <select asp-for="Voivodeship" asp-items="Html.GetEnumSelectList<Voivodeship>()" class="form-control" data-toggle="tooltip" data-placement="top" title="Wybierz województwo w którym leży wprowadzane miejsce obozowe"></select>
                        <span asp-validation-for="Voivodeship" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <textarea asp-for="Address" class="form-control" rows="4" data-toggle="tooltip" data-placement="top" title="Wpisz adres miejsca obozowego, jeżeli taki jest dostępny"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Coordinates" class="control-label"></label>
                        <input asp-for="Coordinates" class="form-control" data-toggle="tooltip" data-placement="top" title="Wklej współrzędne miejsca obozowego w formacie: 52.214040, 20.969462. Możesz je skopiować z map Google" placeholder="52.214040, 20.969462"/>
                        <span asp-validation-for="Coordinates" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxPeopleCapacity" class="control-label"></label>
                        <input asp-for="MaxPeopleCapacity" class="form-control" data-toggle="tooltip" data-placement="top" title="Ilu osób maksymalnie pomieści obóz w tym miejscu?"/>
                        <span asp-validation-for="MaxPeopleCapacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactPoint" class="control-label"></label>
                        <input asp-for="ContactPoint" class="form-control" data-toggle="tooltip" data-placement="top" title="Imię i nazwisko osoby odpowiedzialnej za to miejsce."/>
                        <span asp-validation-for="ContactPoint" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailToCP" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">@@</span>
                            <input asp-for="EmailToCP" class="form-control" data-toggle="tooltip" data-placement="top" title="Adres e-mail osoby odpowiedzialnej za to miejsce."/>                    
                        </div>
                        <span asp-validation-for="EmailToCP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneToCP" class="control-label"></label>
                        <input asp-for="PhoneToCP" class="form-control" data-toggle="tooltip" data-placement="top" title="Numer telefonu osoby odpowiedzialnej za to miejsce."/>
                        <span asp-validation-for="PhoneToCP" class="text-danger"></span>
                    </div>                                        
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Informacje dodatkowe</h3></div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Typ wyjazdu</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Miejsce nadaje się na obóz letni.">
                                            <input asp-for="SummerCamp" /> @Html.DisplayNameFor(model => model.SummerCamp)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Miejsce nadaje się na zimowisko.">
                                            <input asp-for="WinterCamp" /> @Html.DisplayNameFor(model => model.WinterCamp)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Miejsce nadaje się na biwak.">
                                            <input asp-for="Bivouac" /> @Html.DisplayNameFor(model => model.Bivouac)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Miejsce nadaje się na grę.">
                                            <input asp-for="Game" /> @Html.DisplayNameFor(model => model.Game)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Dla gałęzi</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Miejsce odpowiednie dla zielonej gałęzi.">
                                            <input asp-for="Scouts" /> @Html.DisplayNameFor(model => model.Scouts)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Miejsce odpowiednie dla żółtej gałęzi.">
                                            <input asp-for="WolfCubs" /> @Html.DisplayNameFor(model => model.WolfCubs)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Okolica</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="W okolicy znajduje się jezioro.">
                                            <input asp-for="Lake" /> @Html.DisplayNameFor(model => model.Lake)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="W okolicy znajduje się rzeka.">
                                            <input asp-for="River" /> @Html.DisplayNameFor(model => model.River)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="W okolicy znajdują się góry.">
                                            <input asp-for="Mountains" /> @Html.DisplayNameFor(model => model.Mountains)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Dostępność</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Do miejsca możliwy jest dojazd samochodem (Karetką / Wozem strażackim).">
                                            <input asp-for="AccessibleByCar" /> @Html.DisplayNameFor(model => model.AccessibleByCar)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Na terenie miejsca znajdują się dostępne zabudowania.">
                                            <input asp-for="Buildings" /> @Html.DisplayNameFor(model => model.Buildings)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Na terenie miejsca znajduje się toaleta.">
                                            <input asp-for="Toilet" /> @Html.DisplayNameFor(model => model.Toilet)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Na terenie miejsca znajduje się prysznic.">
                                            <input asp-for="Shower" /> @Html.DisplayNameFor(model => model.Shower)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Na terenie miejsca znajduje się kuchnia.">
                                            <input asp-for="Kitchen" /> @Html.DisplayNameFor(model => model.Kitchen)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" data-placement="top" title="Czy w zabudowaniach można nocować?">
                                            <input asp-for="SleepingInside" /> @Html.DisplayNameFor(model => model.SleepingInside)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Zdjęcie</div>
                            <div class="panel-body">
                                <div class="form-group" data-toggle="tooltip" data-placement="top" title="Poglądowe zdjęcie z miejsca obozowego">
                                    <input type="file" name="file" />
                                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Opis</div>
                            <div class="panel-body">
                                <div class="form-group" data-toggle="tooltip" data-placement="top" title="Opis Miejsca">
                                    <textarea asp-for="Description" class="form-control" rows="12"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Odległość od najbliższych gospodarstw</div>
                            <div class="panel-body">
                                <div class="form-group" data-toggle="tooltip" data-placement="top" title="Odległość od miejsca obozowego najbliższych, zamieszkałych gospodarstw.">
                                    <div class="input-group">
                                        <input asp-for="DistanceFromBuildings" class="form-control" />
                                        <span class="input-group-addon" id="basic-addon2">km</span>
                                    </div>
                                    <span asp-validation-for="DistanceFromBuildings" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Miejsce Ewakuacji</div>
                            <div class="panel-body">
                                <div class="form-group" data-toggle="tooltip" data-placement="top" title="Miejsce w którym zapewnione będzie bezpieczeństwo uczestników w razie trudnych sytuacji.">
                                    <textarea asp-for="EvacuationPlace" class="form-control" rows="5"></textarea>
                                    <span asp-validation-for="EvacuationPlace" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Odległość od miejsca ewakuacji</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="input-group" data-toggle="tooltip" data-placement="top" title="Odległość miejsca obozowego od bezpiecznego miejsca">
                                        <input asp-for="EvacuationDistance" class="form-control" />
                                        <span class="input-group-addon" id="basic-addon2">km</span>
                                    </div>
                                    <span asp-validation-for="EvacuationDistance" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        





                    </div>
                    </div>
                </div>
            
            @*<div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Informacje dodatkowe</h3></div>
                <div class="panel-body">
                    
                </div>
                
            </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Dane Administracyjne</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">Urząd Gminy</div>
                                <div class="panel-body">
                                    <div class="form-group" data-toggle="tooltip" data-placement="top" title="Urząd Gminy na terenie którego znajduje się miejsce obozowe.">
                                        <textarea asp-for="Community" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="Community" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Sanepid</div>
                                <div class="panel-body">
                                    <div class="form-group" data-toggle="tooltip" data-placement="top" title="Sanepid do którego warto się zgłosić przed obozem.">
                                        <textarea asp-for="Sanel" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="Sanel" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Powiatowa Straż Pożarna</div>
                                <div class="panel-body">
                                    <div class="form-group" data-toggle="tooltip" data-placement="top" title="PSP od której dostaniemy zaświadczenie o możliwości organizacji obozu w zgłaszanym miejscu.">
                                        <textarea asp-for="PoviatFireBrigade" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="PoviatFireBrigade" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            
                            
                    </div>
                        
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">Najbliższy Szpital</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <textarea asp-for="NearestHospital" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="NearestHospital" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Najbliższa Jednostka Straży Pożarnej</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <textarea asp-for="NearestFireDepartment" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="NearestFireDepartment" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Najbliższy Posterunek Policji</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <textarea asp-for="NearestPoliceStation" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="NearestPoliceStation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">Nadleśnictwo</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <textarea asp-for="Superintendence" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="Superintendence" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Najbliższa Parafia</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <textarea asp-for="NearestParish" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="NearestParish" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Najbliższy Sklep</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <textarea asp-for="NearestMarket" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="NearestMarket" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-lg">
                        <div class="form-group">
                            <input type="submit" value="Zapisz" class="btn btn-default" />
                        </div>
                        <div>
                            <a asp-action="Index">Wróć do listy</a>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div> 
    </div>
</form>
    

