@model CampplaceTest1.Models.Camp

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Camp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Voivodeship" class="control-label"></label>
                <select asp-for="Voivodeship" class="form-control"></select>
                <span asp-validation-for="Voivodeship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Community" class="control-label"></label>
                <input asp-for="Community" class="form-control" />
                <span asp-validation-for="Community" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordinates" class="control-label"></label>
                <input asp-for="Coordinates" class="form-control" />
                <span asp-validation-for="Coordinates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SummerCamp" /> @Html.DisplayNameFor(model => model.SummerCamp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="WinterCamp" /> @Html.DisplayNameFor(model => model.WinterCamp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Bivouac" /> @Html.DisplayNameFor(model => model.Bivouac)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Scouts" /> @Html.DisplayNameFor(model => model.Scouts)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="WolfCubs" /> @Html.DisplayNameFor(model => model.WolfCubs)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Buildings" /> @Html.DisplayNameFor(model => model.Buildings)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Toilet" /> @Html.DisplayNameFor(model => model.Toilet)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Kitchen" /> @Html.DisplayNameFor(model => model.Kitchen)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SleepingInside" /> @Html.DisplayNameFor(model => model.SleepingInside)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MaxPeopleCapacity" class="control-label"></label>
                <input asp-for="MaxPeopleCapacity" class="form-control" />
                <span asp-validation-for="MaxPeopleCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanceFromBuildings" class="control-label"></label>
                <input asp-for="DistanceFromBuildings" class="form-control" />
                <span asp-validation-for="DistanceFromBuildings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearestHospital" class="control-label"></label>
                <input asp-for="NearestHospital" class="form-control" />
                <span asp-validation-for="NearestHospital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearestFireDepartment" class="control-label"></label>
                <input asp-for="NearestFireDepartment" class="form-control" />
                <span asp-validation-for="NearestFireDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearestPoliceStation" class="control-label"></label>
                <input asp-for="NearestPoliceStation" class="form-control" />
                <span asp-validation-for="NearestPoliceStation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearestMarket" class="control-label"></label>
                <input asp-for="NearestMarket" class="form-control" />
                <span asp-validation-for="NearestMarket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPoint" class="control-label"></label>
                <input asp-for="ContactPoint" class="form-control" />
                <span asp-validation-for="ContactPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailToCP" class="control-label"></label>
                <input asp-for="EmailToCP" class="form-control" />
                <span asp-validation-for="EmailToCP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneToCP" class="control-label"></label>
                <input asp-for="PhoneToCP" class="form-control" />
                <span asp-validation-for="PhoneToCP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastEdited" class="control-label"></label>
                <input asp-for="LastEdited" class="form-control" />
                <span asp-validation-for="LastEdited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditorId" class="control-label"></label>
                <input asp-for="EditorId" class="form-control" />
                <span asp-validation-for="EditorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <input asp-for="OwnerId" class="form-control" />
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

