@model IEnumerable<CampplaceTest1.Models.Camp>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}
<br/>
    <div class="jumbotron">
        <h1>Lista miejsc obozowych</h1>
        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("CanViewAndCreateCamps") || User.IsInRole("MasterUser")))
        {
            <a class="btn btn-default" asp-action="Create">Dodaj nowe miejsce obozowe</a>
        }
    </div>


<table class="table table-hover text-center">
    <thead>
        <tr>
            <th class="text-center">

            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.Voivodeship)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.SummerCamp)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.WinterCamp)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Bivouac)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Scouts)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.WolfCubs)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MaxPeopleCapacity)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (item.Verified == true)
                {
                    <span class="label label-success">Zweryfikowany!</span>
                }
                else
                {
                    <span class="label label-danger">Niezweryfikowany!</span>
                }
                @if (item.Edited == true)
                {
                    <span class="label label-warning">Uaktualniony!</span>
                }
                @if ((DateTime.Now - item.TimeCreated).Days < 7)
                {
                    <span class="label label-info">Nowy!</span>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Voivodeship)
            </td>
            <td>
                @if (item.SummerCamp == true)
                {
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                }
            </td>
            <td>
                @if (item.WinterCamp == true)
                {
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                }
            </td>
            <td>
                @if (item.Bivouac == true)
                {
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                }
            </td>
            <td>
                @if (item.Game == true)
                {
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                }
            </td>
            <td>
                @if (item.Scouts == true)
                {
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                }
            </td>
            <td>
                @if (item.WolfCubs == true)
                {
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MaxPeopleCapacity)
            </td>

        </tr>
        }
    </tbody>
</table>
