@model IEnumerable<CampplaceTest1.Models.Camp>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voivodeship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummerCamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinterCamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bivouac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scouts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WolfCubs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPeopleCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <img class="img-thumbnail" src="@item.ImagePath"
                     asp-append-version="true" alt="@item.ImagePath" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voivodeship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummerCamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinterCamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bivouac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scouts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WolfCubs)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MaxPeopleCapacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
