@model CampplaceTest1.Models.Comment
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}
<br />
<h4>Komentarz</h4>
<hr />
<div class="row">

    <div class="col-md-8">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Obóz: @Html.DisplayFor(model => model.Camp.Name)</h3>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(model => model.Content)
                </div>
                <div class="panel-footer">
                    Autor: @Html.DisplayFor(model => model.UserName)<br />
                    Data Publikacji: @Html.DisplayFor(model => model.Added)
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @if (SignInManager.IsSignedIn(User) && ((User.IsInRole("CanManageComments") || User.IsInRole("MasterUser")) || (UserManager.GetUserId(User) == Model.UserId)))
    {<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edytuj</a>}
    <a asp-action="Index" class="btn btn-default">Wróc do listy</a>
</div>
