@model IEnumerable<CampplaceTest1.Models.Comment>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h2>Lista Komentarzy</h2>

@*<p>
    <a asp-action="Create">Utwórz nowy komentarz</a>
</p>*@
<table class="table table-hover">
    <thead class="text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Camp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Added)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Camp.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Added)
            </td>
           
            
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default">Czytaj</a>
                @if (SignInManager.IsSignedIn(User) && ((User.IsInRole("CanManageComments") || User.IsInRole("MasterUser")) || (UserManager.GetUserId(User) == item.UserId)))
                {<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a>}

            </td>
           
        </tr>
        }
    </tbody>
</table>
